.form-check-switch .form-check-input {
  width: 48px;
  height: 26px;
  margin-right: 10px;
}
body{
  background-color: #FBFBFB;
}

.form-check-switch .form-check-input:checked + .form-check-label::before {
  transform: translateX(26px);
}

.form-check-switch .form-check-label {
  padding-left: 10px;
}

.form-check-switch .form-check-label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffff;
  transition: .4s;
}

.form-check-switch .form-check-input:checked + .form-check-label::before {
  background-color: #2196F3;
}

.form-check-switch .form-check-input:focus + .form-check-label::before {
  box-shadow: 0 0 1px #2196F3;
}
footer{
  background: linear-gradient(to right, rgb(104, 34, 104), rgb(201, 136, 201));
}
#go{
  background-color: #ffff;
  margin: 7% auto;
}
form{
  width: 80%;
  background: #ffff;
  padding: 1.5rem;
  border-radius: 1rem;
}
